src/main/java/py/com/qualita/facturadigital/soap/DeWsAsyncRecibeService.java
src/main/java/py/com/qualita/facturadigital/soap/DeWsConsultasConsultaRucService.java
src/main/java/py/com/qualita/facturadigital/soap/DeWsConsultasConsultaService.java
src/main/java/py/com/qualita/facturadigital/soap/DeWsConsultasConsutaLoteService.java
src/main/java/py/com/qualita/facturadigital/soap/DeWsEventosEventoService.java
src/main/java/py/com/qualita/facturadigital/soap/DeWsSyncRecibeService.java
src/main/webapp/WEB-INF/wsld/consulta-ruc_1.wsdl
src/main/webapp/WEB-INF/wsld/consulta_1.wsdl
src/main/webapp/WEB-INF/wsld/evento_1.wsdl
src/main/webapp/WEB-INF/wsld/recibe-lote_1.wsdl
src/main/webapp/WEB-INF/wsld/recibe_1.wsdl
target/*
.project
.classpath
.settings
.externalToolBuilders
.java-version
.idea
*.sublime-workspace
src/main/resources/config.properties
src/main/resources/upload.properties
src/main/java/py/com/qualita/client/model/*_.java
src/test/tmp/*.pdf
src/test/tmp/*.xls
src/test/resources/*.xls
src/test/resources/arquillian.xml
/bin
src/test/tmp/.keep
*_.java
/target/
*.iml
.DS_Store
docker-resources/docker.env
Dockerfile
docker-build.sh
docker-compose.yml
docker-resources/run.sh
docker-resources/jboss-cli-batch
tmp/*
src/main/resources/custom-reports/*.pdf
